body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 24;
}

h2 {
    font-size: 20;
}

h3 {
    font-size: 18;
}

figure {
    position: relative;
    height: auto;
    margin: 0;
}

figure img {
    width: 100%;
    object-fit: contain;
    border-radius: 0px;
}

#nav {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nav ul li {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

#nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

#nav ul li a:hover {
    color: #ddd;
}

#language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 20;
}

.language-button {
    display: inline-block;
    padding: 0;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-button:hover img {
    opacity: 0.8;
}

.video-gallery {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: white black;
}

.video-item {
    flex: 0 0 auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.video-item img {
    width: 100%;
    transition: transform 0.3s ease;
}

.video-item:hover img {
    transform: scale(1.05);
}

.video-gallery::-webkit-scrollbar {
    height: 8px;
    width: 30px;
}

.video-gallery::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

.video-gallery::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.video-gallery::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}



.read-more-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    display: inline;
}

.read-more-btn:hover {
    color: #ddd;
    text-decoration: none;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.social-icon.instagram img,
.social-icon.facebook img,
.social-icon.youtube img,
.social-icon.spotify img {
    filter: invert(1);
}

.social-icon.levykauppa img {
    filter: none;
}

#intro {
    margin: 0;
}

#about,
#performances,
#discography,
#musicvideos,
#media,
#contact,
#social {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.album-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.album-item {
    text-align: center;
    max-width: 200px;
}

.album-item img {
    width: 100%;

}



.language-button {
    display: inline-block;
    padding: 0;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.language-button img {
    width: 30px; 
    height: auto;
    display: block;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.language-button:hover img {
    opacity: 0.8; 
}

#nav ul li.language-button {
    transform: none;
    writing-mode: initial; 
}

@media (max-width: 768px) {

    body {
        font-size: medium;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #intro {
        margin: 0;
        text-align: center;
    }

    #about,
    #performances,
    #discography,
    #musicvideos,
    #media,
    #contact,
    #social {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    #nav {
        display: none;
    }

    .video-item {
        width: calc((100% / 2) - 20px); 
    }

    .album-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-items: center;
    }

}