body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}


figure {
    position: relative;
    height: auto;
    margin: 0;
}

figure img {
    width: 100%;
    object-fit: contain;
    border-radius: 0px;
}

image {
    width: 100%;
    height: 100%;
}

#nav {
    position: absolute;
    left: 2%; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10;
    width: 40px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

#nav ul li {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1rem; 
    font-family: "Roboto", sans-serif;
}

#nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

#nav ul li a:hover {
    color: #ddd;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.video-item img {
    text-align: center;
    max-width: 200px;
}

.video-item:hover img {
    transform: scale(1.05);
}


.read-more-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    display: inline;
}

.read-more-btn:hover {
    color: #ddd;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.social-icon.instagram img,
.social-icon.facebook img,
.social-icon.youtube img,
.social-icon.spotify img {
    filter: invert(1);
    /* Päinvastainen väri */
}

.social-icon.levykauppa img {
    filter: none;
}

#intro {
    margin: 0;
}

#about,
#performances,
#discography,
#musicvideos,
#media {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.album-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.album-item {
    text-align: center;
    max-width: 200px;
}
.album-item img {
    width: 100%;
  
}



@media (max-width: 768px) {
    body {
        font-size: medium;
    }
    #intro {
        margin: 0;
    }
    #about,
    #performances,
    #discography,
    #musicvideos,
    #media {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #nav {
        display: none;
    }
    .video-gallery {
        display: grid;
        grid-template-columns: 1fr;
    }

    .video-item img {
        width: 100%;
        height: auto;
    }

}