*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/*sections yleiset*/

#intro {
    margin: 0;
}

#about,
#performances,
#discography,
#musicvideos,
#media {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: black;
}

#contact,
#social {
    background-image: url('/kuvat/havu_ruskea.svg');
    background-repeat: repeat-y;
    background-size: 79px;
    background-position: center;
    padding: 5px;
}


/*kuvat*/

figure {
    position: relative;
    height: auto;
    margin: 0;
}

figure img {
    width: 100%;
    object-fit: contain;
    border-radius: 0px;
}

.gigs-image img {
    max-width: 650px;
}

/*navijutut*/

#nav {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nav ul li {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

#nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

#nav ul li a:hover {
    color: #ddd;
}

/*kielinapit*/

#language-selector {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 20;
}

.language-button {
    display: inline-block;
    padding: 0;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-button:hover img {
    opacity: 0.8;
}

.language-button img {
    width: 30px;
    height: auto;
    display: block;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}


#nav ul li.language-button {
    transform: none;
    writing-mode: initial;
}



/*musiikkivideogalleria*/
/* Carousel CSS */
.carousel {
    position: relative;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.carousel ul {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.carousel ul::-webkit-scrollbar {
    display: none;
}

.carousel ul li {
    scroll-snap-align: start;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #000;
}

.carousel ul li iframe,
.carousel ul li img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.carousel ol {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel ol li {
    list-style: none;
}

.carousel ol li a {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.carousel ol li.selected a {
    background-color: #fff;
}

.carousel .prev,
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}

/*luelisää button*/

.read-more-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    display: inline;
}

.read-more-btn:hover {
    color: #ddd;
    text-decoration: none;
}

/*sosiaalisen median kuvakkeet*/

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.social-icon.instagram img,
.social-icon.facebook img,
.social-icon.youtube img,
.social-icon.spotify img {
    filter: invert(1);
}

.social-icon.levykauppa img {
    filter: none;
}


/*introvideo*/

.responsive-video-container {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 36%;
    height: 0;
    overflow: hidden;
}

.responsive-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*havukuvion väri rgb(80, 45, 22) */
/*diskografia*/

.album-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.album-item {
    text-align: center;
    max-width: 200px;
}

.album-item img {
    width: 100%;

}


/*median kuvat*/

.media-gallery {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.media-item {
    flex: 0 0 auto;
    width: 180px;
    position: relative;
    text-align: center;
}

.media-gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.media-gallery img:hover {
    transform: scale(1.05);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
    text-align: center;
}


/*contactin linkki*/

#contact a {
    text-decoration: none;
    color: white;
}



@media (max-width: 1024px) {
    body {
        font-size: large;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #intro {
        margin: 0;
        text-align: center;
    }

    #nav {
        display: none;
    }

    #about,
    #performances,
    #discography,
    #musicvideos,
    #media {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        background-color: black;
        padding: 5px;
    }




    #contact,
    #social {
        padding: 5px;
        background-image: url('/kuvat/havu_ruskea.svg');
        background-repeat: repeat-y;
        background-size: 60px;
        background-position: center;
    }


    .carousel ul li iframe,
    .carousel ul li video {
        max-height: 300px;
    }

    .album-gallery {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-items: center;
    }

    .media-gallery {
        display: flex;
        gap: 0px;
        padding: 5px;
        justify-content: center;
    }

    .media-item {
        flex: 0 0 auto;
        width: 140px;
        position: relative;
        text-align: center;
    }

    .media-gallery img {
        max-height: 130px;
        max-width: 130px;
    }

    .caption {
        font-size: 14px;
        margin-bottom: 6px;
    }


}


@media (max-width: 768px) {

    body {
        font-size: medium;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #intro {
        margin: 0;
        text-align: center;
    }

    #about,
    #performances,
    #discography,
    #musicvideos,
    #media {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        background-color: black;
        padding: 5px;
    }

    #contact,
    #social {
        padding: 5px;
        background-image: url('/kuvat/havu_ruskea.svg');
        background-repeat: repeat-y;
        background-size: 56.5px;
        background-position: center;
    }

    #nav {
        display: none;
    }

    .carousel ul li iframe,
    .carousel ul li video {
        max-height: 200px;
    }

    .carousel .prev,
    .carousel .next {
        display: none;
    }

    .carousel ol li a {
        width: 6px;
        height: 6px;
    }

    .album-gallery {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        justify-items: center;
    }

    .media-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        gap: 5px;
        justify-content: center;
    }

    .media-item {
        flex: 0 0 auto;
        width: 130px;
        position: relative;
        text-align: center;
    }

    .media-gallery img {
        height: 120px;
        width: 120px;
        gap: 2px;

    }

    .caption {
        font-size: 12px;
        margin-bottom: 5px;
    }


}