<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="/js/carousel.js" defer></script>
    <link rel="icon" href="/kuvat/favicon.png" type="image/png">
    <link rel="apple-touch-icon" sizes="32x32" href="/kuvat/favicon.png">


    <meta property="og:image" content="https://hamymusic.com/kuvat/aaaicon.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="HÄMY">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:locale" content="{{ .Site.Language.Lang }}">
    <meta property="og:url" content="{{ .Permalink }}">

</head>

<body>

    <header>

        <div id="nav">
            <ul id="nav-list">
                <li><a href="https://open.spotify.com/artist/2t5pBK7XsEqYnTVHv3kMes?si=wX8svzSeRJmHc0Sd_nVS8A"
                        target="_blank"><span>Spotify</span></a></li>
                <li><a href="http://www.youtube.com/@hamy_music_finland" target="_blank"><span>YouTube</span></a></li>
                <li><a href="https://www.facebook.com/hamymusiikki" target="_blank"><span>Facebook</span></a></li>
                <li><a href="https://www.instagram.com/hamy_music_finland" target="_blank"><span>Instagram</span></a>
                </li>
                <li><a href="https://www.levykauppax.fi/artist/hamy/?srsltid=AfmBOoot1ymV4ld4QBDZ3sKl2RbUl16rIp0n2EuPiJO09G0gM2TEghON"
                        target="_blank"><span>Levykauppa Äx</span></a></li>
            </ul>

        </div>

        <div id="language-selector">
            <a href="/fi" class="language-button">
                <img src="/kuvat/finland (2).png" style="width: 20px; height: auto; margin-right: 5px;" alt="Suomi">
            </a>
            <a href="/en" class="language-button">
                <img src="/kuvat/united-kingdom.png" style="width: 20px; height: auto; margin-right: 5px;"
                    alt="English">
            </a>
        </div>

    </header>

    <main>
        {{ if eq .File.Path "content/fi/about.md" }}
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.introvideo_src }}</p>
            {{ .Content }}
        {{ else if eq .File.Path "content/fi/gigs.md" }}
            <h2>Gigs</h2>
            <img src="{{ .Params.gig_image }}" alt="Gig Image">
            {{ .Content }}
        {{ else if eq .File.Path "content/fi/diskografia.md" }}
            <h2>{{ .Title }}</h2>
            <img src="{{ .Params.image }}" alt="Album Image">
            <p>{{ .Params.type }}, {{ .Params.year }}</p>
        {{ else if eq .File.Path "content/fi/musicvideos.md" }}
            <h2>Music Videos</h2>
            <p>Video ID: {{ .Params.video_id }}</p>
            <p>Upload Date: {{ .Params.upload_date }}</p>
        {{ else if eq .File.Path "content/fi/media.md" }}
            <h2>Media</h2>
            <img src="{{ .Params.media_image }}" alt="Media Image">
            <p>{{ .Params.caption }}</p>
        {{ else if eq .File.Path "content/fi/contact.md" }}
            <h2>Contact</h2>
            {{ .Content }}
        {{ else if eq .File.Path "content/en/about.md" }}
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.introvideo_src }}</p>
            {{ .Content }}
        {{ else if eq .File.Path "content/en/gigs.md" }}
            <h2>Gigs</h2>
            <img src="{{ .Params.gig_image }}" alt="Gig Image">
            {{ .Content }}
        {{ else if eq .File.Path "content/en/diskografia.md" }}
            <h2>{{ .Title }}</h2>
            <img src="{{ .Params.image }}" alt="Album Image">
            <p>{{ .Params.type }}, {{ .Params.year }}</p>
        {{ else if eq .File.Path "content/en/musicvideos.md" }}
            <h2>Music Videos</h2>
            <p>{{ .Params.video_id }}</p>
            <p>Upload Date: {{ .Params.upload_date }}</p>
        {{ else if eq .File.Path "content/en/media.md" }}
            <h2>Media</h2>
            <img src="{{ .Params.media_image }}" alt="Media Image">
            <p>{{ .Params.caption }}</p>
        {{ else if eq .File.Path "content/en/contact.md" }}
            <h2>Contact</h2>
            {{ .Content }}
        {{ else if eq .File.Path "content/_index.md" }}
            {{ .Content }}
        {{ end }}
    </main>

    <footer>
        <p>&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
    </footer>
</body>
</html>