<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div id="nav">
            <ul>
                <li><a href="https://open.spotify.com/artist/2t5pBK7XsEqYnTVHv3kMes?si=wX8svzSeRJmHc0Sd_nVS8A"><span>Spotify</span></a></li>
                <li><a href="http://www.youtube.com/@hamy_music_finland"><span>YouTube</span></a></li>
                <li><a href="https://www.levykauppax.fi/artist/hamy/?srsltid=AfmBOoot1ymV4ld4QBDZ3sKl2RbUl16rIp0n2EuPiJO09G0gM2TEghON"><span>Levykauppa Äx</span></a></li>
            </ul>
        </div>
    </header>

    <main>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </main>

    <footer>
        <p>&copy; 2024 {{ .Site.Title }}</p>
    </footer>
</body>
</html>
