<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <div id="nav">
            <ul>
                <li><a href="https://open.spotify.com/artist/2t5pBK7XsEqYnTVHv3kMes?si=wX8svzSeRJmHc0Sd_nVS8A" target="_blank"><span>Spotify</span></a></li>
                <li><a href="http://www.youtube.com/@hamy_music_finland" target="_blank"><span>YouTube</span></a></li>
                <li><a href="https://www.levykauppax.fi/artist/hamy/?srsltid=AfmBOoot1ymV4ld4QBDZ3sKl2RbUl16rIp0n2EuPiJO09G0gM2TEghON" target="_blank"><span>Levykauppa Äx</span></a></li>
            </ul>
        </div>
    </header>

    <main>

        <section id="intro">
            {{ .Content }}
        </section>

        <section id="about">
            {{ with .Site.GetPage "about" }}
            <h2>{{ .Title }}</h2>
            {{ .Content }}
            {{ end }}
        </section>

        <section id="musicvideos">
            {{ with .Site.GetPage "/musicvideos.md" }}
                {{ .Content }}
            {{ end }}
        </section>

        <section id="contact">
            {{ with .Site.GetPage "contact" }}
            <h2>{{ .Title }}</h2>
            {{ .Content }}
            {{ end }}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 {{ .Site.Title }}</p>
    </footer>
</body>

</html>