<div class="social-icons">
    <a href="https://www.instagram.com/hamy_music_finland" target="_blank" class="social-icon instagram">
      <img src="/kuvat/icons8-instagram.svg" alt="Instagram" />
    </a>
    <a href="https://www.facebook.com/hamymusiikki" target="_blank" class="social-icon facebook">
      <img src="/kuvat/icons8-facebook.svg" alt="Facebook" />
    </a>
    <a href="http://www.youtube.com/@hamy_music_finland" target="_blank" class="social-icon youtube">
      <img src="/kuvat/icons8-youtube.svg" alt="YouTube" />
    </a>
    <a href="https://open.spotify.com/artist/2t5pBK7XsEqYnTVHv3kMes?si=wX8svzSeRJmHc0Sd_nVS8A" target="_blank" class="social-icon spotify">
      <img src="/kuvat/iconmonstr-spotify-1.svg" alt="Spotify" />
    </a>
    <a href="https://www.levykauppax.fi/artist/hamy/?srsltid=AfmBOoot1ymV4ld4QBDZ3sKl2RbUl16rIp0n2EuPiJO09G0gM2TEghON" target="_blank" class="social-icon levykauppa">
      <img src="/kuvat/levykauppa__ax.gif" alt="Levykauppa Äx" />
    </a>
  </div>
  